* {
	padding: 0;
	margin: 0;
}

.notesHeader, .notesBody, .notesFooter {
	background-color: rgba(0, 0, 0, .5);
	padding: 20px;
	margin: 0;
}

.notesHeader {
	font-family: 'Lobster', cursive;
}

.notesBody {
	margin-top: 20px;
}


.notesFooter {
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
}